<section class="about">
	<h2>About Myaps</h2>
	<p>作成期間：9/10 ~ 9/16</p>
	<p>使用言語：Ruby</p>
	<p>使用フレームワーク：Ruby On Rails</p>
</section>
<section class="about">
	<h2>To Do / Pending</h2>
</section>

<section class="about">
	<h2>Register Color</h2>
	<%= form_for @color, local: true do |f| %>
		<div class="field" style="width: 66%;margin: 0 17%;">
			<%= f.label '角度(hue)' %>
			<%= f.text_field :hue %>
			<%= f.label '16進数コード' %>
			<%= f.text_field :digits %>
			<%= button_tag :type => "submit" do %>
				<i class="fa fa-plus"></i>
			<% end %>
		</div>
	<% end %>
</section>
<section class="about">
	<h2>Index</h2>
	<h3>Statistics</h3>
	<p>タグ:<%= Tag.count %></p>
	<p>カード:<%= Card.count %></p>
	<p>tips: <%= Description.count %></p>
	<h3>Colors</h3>
	<% @colors.each do |color| %>
		<i class="fa fa-tag" style="color: #<%= color.digits %>"></i>
	<% end %>
</section>