
<!-- タグの追加フォーム -->
<div class="contents">
	<div class="form flexbox">
		<%= form_with(url: tags_path, method: :get, local: true) do |f| %>
			<div class="field">
				<%= f.text_field :search %>
				<%= f.submit '検索', data: { disable_with: '検索中'} %>
			</div>
		<% end %>
		<%= form_for @tag, local: true do |f| %>
			<div class="field">
				<%= f.text_field :name %>
				<%= f.submit '追加', data: { disable_with: '送信中'} %>
			</div>
		<% end %>
	</div>
</div><br>
<!-- タグ一覧を表示 -->
<div class="contents-header">
	<h2>タグ一覧</h2>
</div>
<div class="contents">
	<ul id='tag-index'>
		<%= render @tags %>
	</ul>
</div>

