<!-- タグの追加フォーム -->
<div class="contents">
	<div class="form flexbox">
		<%= form_with(url: tags_path, method: :get, local: true) do |form| %>
			<div class="field">
				<%= form.text_field :search %>
				<%= button_tag :type => "submit" do %>
					<i class="fa fa-search" ></i>
				<% end %>
			</div>
		<% end %>
		<%= form_with(model: @tag, local: true) do |f| %>
			<div class="field">
				<%= f.text_field :name %>
				<%= button_tag :type => "submit" do %>
					<i class="fa fa-plus"></i>
				<% end %>
			</div>
		<% end %>
	</div>
</div><br>
<!-- タグ一覧を表示 -->
<div class="contents-header">
	<h3>タグ一覧</h3>
</div>
<div class="contents">
	<ul id='tag-index'>
		<%= render @tags %>
	</ul>
</div>

