<div class="card-control">
	<ul class="flexbox">
		<li>
			<%= link_to edit_card_path do %>
				<i class="fa fa-star"></i>Fav
			<% end %>
		</li>
		<li id="add-tag-btn">
			<i class="fa fa-tag"></i>Tag
		</li>
		<li id="add-desc-btn">
			<i class="fa fa-plus"></i>Tips
		</li>
		<li>
			<%= link_to @card, method: :delete, data:{confirm: '削除しますか？'} do %>
				<i class="fa fa-trash"></i>Delete
			<% end %>
		</li>
	</ul>
</div>

<div class="card">
	<div class= "card-first-low">
		<!-- カードのタイトルを表示 -->
		<div class="card-title"><h1><%= @card.title %></h1></div>
		<!-- カードのステータス(likeかどうか)を表示 -->
		<div class="card-fav">
			<% if !Cardfav.exists?(user_id: current_user.id, card_id: @card.id) %>
				<%= form_with(url: card_add_path(@card), method: :post, local: true) do |f| %>
			   	<%= button_tag :type => "submit" do %>
						<h1><i class="fa fa-bookmark-o"></i></h1>
					<% end %>
				<% end %>
			<% else %>
				<%= form_with(url: card_add_path(@card), method: :delete, local: true) do |f| %>
			   	<%= button_tag :type => "submit" do %>
						<h1><i class="fa fa-bookmark"></i></h1>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<!-- カードに紐づくタグ一覧を表示 -->
	<div class="card-tags">
		<i class="fa fa-tags"></i>
		<% @card.tags.each do |tag| %>
			<span style="padding-right: 1%;">
				<%= link_to tag.name, tag_path(tag), :style => "border:solid 1px ##{tag.color.digits};" %>
			</span>
		<% end %>
		<!-- カードにタグを追加するフォーム -->
		<div class="small-form" id="add-tag" style="display:none">
			<%= form_with(model: @card, method: :patch, local: true) do |f| %>
				<div class="field">
					<%= f.text_field :name, autofocus: true %>
			   	<%= button_tag :type => "submit" do %>
						<i class="fa fa-plus" ></i>
					<% end %>
				</div>
			<% end %>
		</div>
		<!-- ここまで -->
	</div>
	<!-- カードの内容を表示 -->
	<div class="card-content">
		<!-- ここまで -->
		<ul>
			<!-- カードにコンテンツを追加するフォーム -->
			<li id="add-desc" style="display:none">
				<%= form_with(model: [ @card, Description.new], local: true)  do |form| %>
				  <div class="field">
				  	<%= form.text_field :content, autofocus: true %>
				   	<%= button_tag :type => "submit" do %>
							<i class="fa fa-plus" ></i>
						<% end %>
				  </div>
				<% end %>
			</li>
			<% @card.descriptions.each do |desc| %>
				<li style="list-style-type: square">
					<%= desc.content %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<script text="javascript">
	document.getElementById("add-tag-btn").onclick = () => {
		document.getElementById("add-tag").style.display = "block";
	}
	document.getElementById("add-desc-btn").onclick = () => {
		document.getElementById("add-desc").style.display = "block";
	}
</script>