<!DOCTYPE html>
<html>
  <head>
    <title>Myaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-title">
        <h1><%= link_to "myaps", "/"%></h1>
      </div>
      <div class="header-menus">
        <ul class="flexbox">
          <% if user_signed_in? %>
            <li id="signout">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>ログアウト
              <% end %>
            </li>|
            <li>
              <%= link_to new_card_path do %>
                <i class="fa fa-plus" ></i>新しいカード
              <% end %>
            </li>|
          <% else %>
            <li>
              <%= link_to "サインアップ", new_user_registration_path %>
            </li>
            <li>
              <i class="fa fa-sign-in"></i><%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
          <li>
            <i class="fa fa-file"></i><%= link_to "カード一覧", cards_path %>
          </li>|
          <li>
            <i class="fa fa-tag" ></i><%= link_to "タグ一覧", tags_path %>
          </li>|
          <li>
            <i class="fa fa-university" ></i><%= link_to "myapsとは", "/about" %>
            </li>
        </ul>
      </div>
    </header>
    <div class="header-notice">
      <% if notice %>
        <p class="notice" id="msg"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert" id="msg"><%= alert %></p>
      <% end %>
    </div>
    <br>
    <!--     動作に対するメッセージを表示 -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <script>
    $( document ).ready(function() {
      // メッセージを３秒後にフェードアウトする
      $('#msg').fadeOut(3000);
    });
  </script>
</html>