<!DOCTYPE html>
<html>
  <head>
    <title>Myaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-title">
        <h1><%= link_to "myaps", "/"%></h1>
      </div>
      <nav class="header-menus">
        <ul class="flexbox">
          <% if user_signed_in? %>
            <li id="signout">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>Signout
              <% end %>
            </li>|
            <li>
              <%= link_to new_card_path do %>
                <i class="fa fa-plus" ></i>Create
              <% end %>
            </li>|
          <% else %>
            <li>
              <%= link_to new_user_registration_path do %>
                Signup
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i>Signin
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to todos_path do %>
              <i class="fa fa-list-ul"></i>Todos
            <% end %>
          </li>|
          <li>
            <%= link_to cards_path do %>
              <i class="fa fa-file"></i>Cards
            <% end %>
          </li>|
          <li>
            <%= link_to tags_path do %>
              <i class="fa fa-tag"></i>Tags
            <% end %>
          </li>|
          <li>
            <%= link_to "/about" do %>
              <i class="fa fa-university"></i>About
              <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <div class="header-notice">
      <% if notice %>
        <p class="notice" id="msg"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert" id="msg"><%= alert %></p>
      <% end %>
    </div>
    <br>
    <!--     動作に対するメッセージを表示 -->
    <div class="container">
      <%= yield %>
    </div>
<!--     <footer>
      ©2018 Taruya
    </footer> -->
  </body>
  <script>
    $( document ).ready(function() {
      // メッセージを３秒後にフェードアウトする
      $('#msg').fadeOut(5000);
    });
  </script>
</html>