<!DOCTYPE html>
<html>
  <head>
    <title>Myaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-title">
      <h1><%= link_to "myaps", "/"%></h1>
    </div>
    <div class="header-menus">
      <ul class="flexbox">
        <li><%= link_to "myapsとは", "/about" %></li>|
        <li><%= link_to "カード一覧", cards_path %></li>|
        <li><%= link_to "タグ一覧", "#" %></li>
      </ul>
      <ul class="flexbox">
        <li><%= link_to "新しいカード", new_card_path %></li>|
        <li><%= link_to "新しいタグ", "#" %></li>
      </ul>
    </div>
    <br>
    <div class="container">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
